header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;

  // Top navigation, information
  .top-nav {
    max-width: 1340px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    a {
      color: #ccc;
      font-weight: 300;
      padding: 0 14px;
      transition: color 300ms ease-in;
      font-size: 1.3rem;
      &:hover {
        color: #fff;
      }
      i {
        margin-right: 5px;
      }
    }
  }

  // main navigation
  nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    .nav-wrapper {
      padding: 0 14px;
      max-width: 1340px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .nav-wrapper-item {
        display: flex;
        align-items: center;
        #logo {
          img {
            height: 46px;
            cursor: pointer;
          }
        }
        a {
          font-size: 1.7rem;
          color: #333;
          padding: 14px;
          font-weight: 400;
          i {
            margin-right: 5px;
          }
        }
        button {
          background-color: #e0343c;
          border: none;
          color: #fff;
          border-radius: 5px;
          padding: 10px 20px;
          transition: background-color 100ms ease-in;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            margin-right: 5px;
            font-size: 1.6rem;
          }
          cursor: pointer;
          &:hover {
            background-color: #d33139;
          }
        }
      }
    }
  }
}
