.slide {
  width: 100%;
  height: 530px;
  background-image: url("../images/1900x530.jpg");
  background-size: cover;
  //   background: linear-gradient(to right, #e3cb4b, #ddbe0e);
  display: flex;
  justify-content: center;
  align-items: center;

  .slide-wrapper {
    padding: 0 14px;
    max-width: 1340px;
    width: 100%;
    display: flex;
    .tracking {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      .top {
        padding: 20px 30px;
        h5 {
          margin: 11px 0 20px;
          font-weight: 300;
          display: flex;
          align-items: center;
          font-size: 1.7rem;
          i {
            font-size: 2.4rem;
            margin-right: 10px;
          }
        }
        .shipment {
          width: 100%;
          display: flex;
          input {
            padding: 6px 12px;
            font-size: 1.4rem;
            border-radius: 4px 0 0 4px;
            border: solid 1px #ccc;
          }
          button {
            padding: 10px 12px;
            background-color: #494949;
            color: #fff;
            border: none;
            border-radius: 0 4px 4px 0;
            transition: background-color 200ms ease-in;
            cursor: pointer;
            &:hover {
              background-color: #000;
            }
          }
        }
      }
      a {
        display: flexbox;
        width: 100%;
        border-top: solid 1px #ccc;
        padding: 20px 30px;
        font-weight: 300;
        color: #333;
        transition: background-color 100ms ease-in;
        &:hover {
          background-color: rgb(238, 238, 238);
        }
        &:last-child {
          background-color: #e0343c;
          color: #fff;
          border-radius: 0 0 3px 3px;
          &:hover {
            background-color: #d33139;
          }
        }
        i {
          margin-right: 8px;
        }
      }
    }
  }
}
